@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.adminlink-new-link-container{
    width:50%;
    margin: 50px;
}
.adminlink-add-new-link-btn{
    width: 100%;
    background-color: #000AFF;
    color:white;
    border: none;
    border-radius: 20px;
    height: 45px;
    font-weight: 700;
}
.adminlink-add-new-link-btn:hover{
    background-color: #040bd7;
}
.adminlink-add-new-link-btn>svg>path{
    stroke: #fff;
    stroke-width: "3";
}
.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    width:50% !important;
    padding:20px !important;
}
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width:50% !important;
    padding: 20px !important;
}
.adminlinkform-btn{
    padding: 5px 20px;
    background-color: #000AFF;
    display: inline;
    border: none;
    color:#fff;
    font-weight: 500;
    border-radius: 5px;
    margin: auto 10px;
    cursor: pointer;
    float: right;
}
.adminlink-add-btn:disabled{
    background-color: #0008ff7d;
    color:#fcfcfc;
    cursor: not-allowed;
}
.adminlink-reset-btn{
    background-color: white;
    color:#000AFF;
    border: 1px solid #000AFF;
}
.adminlink-lists-container{
    width:50%;
    margin: 30px !important;
}
.adminlink-list-container{
    width:100%;
    background-color: #0008ff10;
    margin: 15px auto;
    border-radius: 10px;
    padding: 15px 20px;
    position: relative;
}
.adminlink-list-container>h6{
    color:#000AFF;
    margin: 10px;
    width:75%;
    height:25px;
}
.adminlink-list-container>p{
    color:rgba(0,0,0,0.5);
    margin: 10px;
    width:80%;
}
.adminlink-list-switch-container{
    width: 30%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    margin: 10px !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.adminlink-list-switch-container>p{
    color:#000AFF;
    font-weight: 500;
    margin: 0;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-switch.ant-switch-checked{
    background-color: #E87A7A !important;
}
.adminlink-link-action-btn-container{
    position: absolute;
    right: 8px;
    top:25%;
}
.adminlink-link-action-btn{
    border: none;
    margin: 5px;
    background-color: #000AFF;
    border-radius: 5px;
    width:30px;
    height: 30px;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.adminappear-containers,.adminprofile-containers{
    width:50%;
    margin: 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 3px #00000056;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
.adminappear-containers>h3,.adminprofile-containers>h3{
    font-family: 'Itim', cursive;
    color:#000AFF;
}
.adminappear-profile-pic-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.adminappear-profile-pic-container>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}
.adminappear-profile-pic-container>div>button{
    background-color: #000AFF;
    color: white;
    font-weight: 700;
    width: 200px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    margin: 10px;
}.adminappear-pick-image::-webkit-file-upload-button{
    visibility: hidden;
}
.adminappear-profile-pic-container>div{
    width: 200px;
}
.adminappear-pick-image{
    transform: translateX(37px);
    color:transparent;
    height: 70px;
}
.adminappear-pick-image::before{
  content: 'PICK AN IMAGE';
  display: inline-block;
  background-color: #000AFF;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  outline: none;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  font-weight: 700;
  margin: 10px;
  font-size: 16px;
}
.adminappear-profile-container>form{
    position: relative;
    margin: 10px auto;
    width: 100%;
}
.adminappear-name-btn-container{
    float: right;
}
.adminappear-name-btn-container>button{
    margin: 5px;
    font-size: 12px !important;
    font-weight: 500 !important;
}
.adminappear-color-container{
    margin: 20px auto;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.adminappear-color-container>p{
    font-weight: 700;
    font-size: 15px;
}
.adminappear-color-picker-container{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
}
.adminappear-color-picker{
	border: none;
	width: 50px;
	height: 50px;
    background-color: transparent
}
.adminappear-color-picker::-webkit-color-swatch-wrapper {
	padding: 0;
    border: none;
}
.adminappear-color-picker::-webkit-color-swatch {
	border: 2px solid rgba(0, 0, 0, 0.279);
    border-radius: 5px;
}
.adminappear-color-picker-container>p{
    height: 90%;
    width:180px;
    background-color: #0008ff1d;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
    font-weight: 700;
    font-size: 15px;
}
.adminprofile-image-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.adminprofile-image-container>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
}
.adminprofile-delete-account-container>button{
    width: 100%;
    margin: 20px auto;
    height: 50px;
    background-color: #E87A7A;
    border: none;
    color:white;
    border-radius: 5px;
    font-weight: 600;
}
.adminprofile-delete-account-container>button:hover{
    background-color: #b5aaaa;
}
@media screen and  (max-width:576px) {
    .adminlink-new-link-container{
        width:90%;
        margin: 20px;
    }
    .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
        width:90% !important;
    }
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
        width:90% !important;
    }
    .adminlink-lists-container{
        width:90%;
        margin: 50px;
    }
    .adminlink-list-switch-container{
        width: 50%;
    }
    .adminappear-containers,.adminprofile-containers{
        width:90%;
        margin: 30px auto;
        border-radius: 5px;
        padding: 15px;
    }
    .adminappear-profile-pic-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media screen and (min-width:577px) and (max-width:991px) {
    .adminlink-new-link-container{
        width:70%;
        margin: 20px;
    }
    .css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
        width:70% !important;
    }
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
        width:70% !important;
    }
    .adminlink-lists-container{
        width:70%;
        margin: 50px;
    }
    .adminlink-list-switch-container{
        width: 40%;
    }
    .adminappear-containers,.adminprofile-containers{
        width:70%;
        margin: 30px auto;
        border-radius: 5px;
        padding: 15px;
    }
}
