.requestresetpass{
    background-image: url(../asset/login-bg.png);
}
.requestresetpass-container {
    width: 500px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000075;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white
}
.requestresetpass-container>img {
    width: 90px;
    height: auto;
    margin: 10px;
}
.requestresetpass-container>h4{
    margin: 10px;
    color:#000AFF;
}
.requestresetpass-container>form{
    width: 90%;
    margin: 10px auto;
}
.requestresetpass-container>form>button{
    width: 100%;
    background-color: #000AFF;
    color: white;border: none;
    height: 50px;
    font-weight: 700;
    border-radius: 5px;
}
.requestresetpass-container>form>button:disabled{
    cursor: not-allowed;
    background-color: #0008ff78;
}
.requestresetpass-container>button{
    width: 90%;
    border: 2px solid #000AFF;
    color: #000AFF;
    height: 50px;
    font-weight: 700;
    border-radius: 5px;
    background-color: white;
    transition: 200ms linear;
}
.requestresetpass-container>button:hover{
    background-color: #000AFF;
    color: white;border: none;
    border:none;
}
.resetpass-container{
        width: 500px;
        height: 480px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #00000075;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:white
}
.resetpass-container>form>button{
    margin: 10px auto;
}
@media screen and  (max-width:576px) {
    .requestresetpass-container {
        width: 300px;
        height: 400px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #00000075;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color:white
    }
    .resetpass-container{
            width: 300px;
            height: 480px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #00000075;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color:white
    }
}